In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

In [2]:
## Change username and password to match your personal MySQL Server settings
username = 'root' # default username for MySQL db is root
password = 'root' # whatever password you chose during MySQL installation.

connection = f"mysql+pymysql://{username}:{password}@localhost:3307/Chinook"
engine = create_engine(connection)
engine

Engine(mysql+pymysql://root:***@localhost:3307/Chinook)

In [3]:
q = '''SHOW TABLES'''
pd.read_sql(q, engine)

   Tables_in_chinook
0              album
1             artist
2           customer
3           employee
4              genre
5            invoice
6        invoiceline
7          mediatype
8           playlist
9      playlisttrack
10             track